@let activeTaskData = activeTask();

@if (isLoading()) {
  <app-loading />
} @else {
  <div class="flex flex-col gap-8 w-full">
    <!-- Navigation and some functions -->
    <div class="flex justify-between">
      <div class="flex gap-2 items-center">
        <!-- Back button -->
        <button matIconButton (click)="onBack()">
          <mat-icon fontIcon="arrow_back"></mat-icon>
        </button>

        <p class="mat-font-title-md">Task Detail</p>
      </div>

      <div class="flex items-center">
        <button matIconButton [matMenuTriggerFor]="moreMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
          <!-- Task edit button -->
          <button mat-menu-item (click)="openTaskEditDialog()">
            <mat-icon fontIcon="edit"></mat-icon>
            Edit
          </button>

          <!-- Task delete button -->
          <button mat-menu-item class="mat-error-state" (click)="openConfirmDeleteDialog()">
            <mat-icon fontIcon="delete"></mat-icon>
            Delete
          </button>
        </mat-menu>
      </div>
    </div>

    <app-task-header
      [taskName]="$safeNavigationMigration(activeTaskData?.name)"
      [taskStatus]="$safeNavigationMigration(activeTaskData?.status)"
      [taskStartDate]="activeTaskData?.startDate ?? null"
      [taskDeadline]="activeTaskData?.deadline ?? null"
    />
    <app-task-overview
      [taskStartDate]="activeTaskData?.startDate ?? null"
      [taskDeadline]="activeTaskData?.deadline ?? null"
      [taskDescription]="activeTaskData?.description ?? null"
    />
    <app-task-action
      [taskId]="$safeNavigationMigration(activeTaskData?.id)"
      [taskStatus]="$safeNavigationMigration(activeTaskData?.status)"
      [taskNextAction]="nextTaskAction()"
      [reviews]="reviews()"
      (nextActionTriggered)="transitionTask($event)"
    />

    @if (isMobile()) {
      <div class="w-full flex justify-center">
        <button matButton (click)="onShowReviewList()">
          <mat-icon fontIcon="list"></mat-icon>
          Show Review List
        </button>
      </div>
    }
  </div>
}
