@let currentTeam = this.currentTeam();
@let members = this.membersName();
@let ownerName = this.ownerName();

<div class="flex flex-col gap-8">
  <!-- Header -->
  <div class="flex gap-2 items-center">
    @if (isMobile()) {
      <button matIconButton (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <p class="mat-font-title-md">Team Detail</p>
  </div>

  <section class="flex flex-col gap-8">
    @if (!currentTeam) {
      <div class="flex w-full justify-center">
        <p class="mat-text-on-surface-variant">Select a team to view</p>
      </div>
    } @else {
      <div class="flex gap-2 items-center">
        <mat-icon>groups</mat-icon>
        <h1 class="mat-font-title-lg">{{ currentTeam?.name }}</h1>
      </div>

      <!-- Owner -->
      <div class="flex flex-col gap-4">
        <p class="mat-font-label-sm">Owner</p>
        <div class="flex gap-2 items-center">
          <mat-icon>person</mat-icon>
          @if (ownerName) {
            <p>{{ ownerName }}</p>
          } @else {
            <div class="min-h-6 w-40 bg-gray-100 mat-corner-full animate-pulse"></div>
          }
        </div>
      </div>

      <!-- Members -->
      <div class="flex flex-col gap-4">
        <p class="mat-font-label-sm">Members</p>

        <div class="flex flex-col gap-4">
          @if (members) {
            @if (members?.length === 0) {
              <p class="mat-text-on-surface-variant">
                There are currently no members in this team.
              </p>
            }
            @for (member of members; track member) {
              <div class="flex gap-2 items-center">
                <mat-icon>person</mat-icon>
                <p>{{ member }}</p>
              </div>
            }
          } @else {
            <div class="flex gap-4">
              <mat-spinner diameter="24"></mat-spinner>
              <p>Loading members...</p>
            </div>
          }
        </div>
      </div>
    }
  </section>
</div>
