@let currentTeam = this.currentTeam();
@let userNames = this.userNames();

<div class="flex flex-col gap-8">
  <!-- Header -->
  <div>
    @if (isMobile()) {
      <button matIconButton>
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <p class="mat-font-title-md">Team Detail</p>
  </div>

  <section class="flex flex-col gap-8">
    @if (!currentTeam) {
      <div class="flex w-full justify-center">
        <p class="mat-text-on-surface-variant">Select a team to view</p>
      </div>
    } @else {
      <div class="flex gap-2 items-center">
        <mat-icon>groups</mat-icon>
        <h1 class="mat-font-title-lg">{{ currentTeam?.name }}</h1>
      </div>

      <!-- Owner -->
      <div class="flex flex-col gap-4">
        <p class="mat-font-label-sm">Owner</p>
        <div class="flex gap-2 items-center">
          <mat-icon>person</mat-icon>
          <p>{{ ownerName() }}</p>
        </div>
      </div>

      <!-- Members -->
      <div class="flex flex-col gap-4">
        <p class="mat-font-label-sm">Members</p>

        <div class="flex flex-col gap-4">
          @for (member of membersName(); track member) {
            <div class="flex gap-2 items-center">
              <mat-icon>person</mat-icon>
              <p>{{ member }}</p>
            </div>
          }
        </div>
      </div>
    }
  </section>
</div>
