@switch (createProjectState()) {
  @case ('loading') {
    <div class="h-full flex flex-col gap-2 items-center justify-center">
      <mat-spinner [diameter]="24"></mat-spinner>
      <p>Creating project...</p>
    </div>
  }
  @case ('idle') {
    <section class="h-full w-full flex flex-col items-center">
      <div class="w-full">
        <button matIconButton (click)="onBack()">
          <mat-icon fontIcon="arrow_back"></mat-icon>
        </button>
      </div>
      <div class="mt-40 flex flex-col items-center gap-4">
        <p class="w-fit">Create your project</p>

        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="flex flex-col w-fit h-fit">
          <mat-form-field>
            <!-- Project Name Input -->
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Enter project name" formControlName="name" />
            @if (projectForm.get('name')?.hasError('required')) {
              <mat-error> Project Name is required </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <!-- Description -->
            <mat-label>Project Description</mat-label>
            <input matInput placeholder="Enter project description" formControlName="description" />
          </mat-form-field>

          <mat-form-field>
            <!-- Start Date Input -->
            <mat-label>Start Date</mat-label>
            <input
              matInput
              placeholder="Enter start date"
              formControlName="startDate"
              [matDatepicker]="startDatePicker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            @if (projectForm.get('startDate')?.hasError('required')) {
              <mat-error>Enter a valid start date</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <!-- Deadline Input -->
            <mat-label>Deadline</mat-label>
            <input
              matInput
              placeholder="Enter deadline"
              formControlName="deadline"
              [matDatepicker]="picker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (projectForm.get('deadline')?.hasError('required')) {
              <mat-error> Deadline is required </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <!-- Team id -->
            <mat-select formControlName="teamId">
              <mat-option value="">Select team</mat-option>
              @for (team of teams(); track team.id) {
                <mat-option [value]="team.id">{{ team.name }}</mat-option>
              }
            </mat-select>
            @if (projectForm.get('teamId')?.hasError('required')) {
              <mat-error>A team is required</mat-error>
            }
          </mat-form-field>

          <button matButton="filled" [disabled]="projectForm.invalid">Create Project</button>
        </form>
      </div>
    </section>
  }
}
