@if (logoutLoading()) {
  <div class="flex flex-col items-center justify-center h-full gap-4">
    <mat-spinner></mat-spinner>
    <p>Logging out...</p>
  </div>
} @else if (isLoading()) {
  <app-loading />
} @else {
  @let state = projectsState();
  @switch (state.status) {
    @case ('loading') {
      <div class="flex flex-col items-center justify-center gap-4 h-full">
        <mat-spinner></mat-spinner>
        <p>Fetching your projects...</p>
      </div>
    }
    @case ('error') {
      <p>Failed to load projects.</p>
    }
    @case ('success') {
      <div class="p-4 flex flex-col gap-4 w-full">
        <div class="flex justify-between">
          <!-- Buttons to be shown on medium screen -->
          <div class="flex fit-content gap-2 items-center">
            <button matButton="filled" class="w-fit inline-block" (click)="onAddProject()">
              <mat-icon fontIcon="add"></mat-icon>
              Create Project
            </button>

            <!-- Team button when on medium screen -->
            <div class="hidden md:inline-flex">
              <button matButton class="w-fit" (click)="onViewTeams()">Teams</button>
            </div>

            <!-- Team button when on small screen -->
            <div class="block md:hidden">
              <button matIconButton (click)="onViewTeams()">
                <mat-icon fontIcon="group"></mat-icon>
              </button>
            </div>
          </div>

          <button matIconButton (click)="onLogout()" class="mat-error-state">
            <mat-icon fontIcon="logout"></mat-icon>
          </button>
        </div>

        <!-- Content -->
        <div>
          <!-- Empty state -->
          @if (state.data.length === 0) {
            <p>No projects found. Create a new project to get started or join a team!</p>
          } @else {
            <!-- Projects list -->
            <ul class="flex flex-col gap-4">
              @for (project of state.data; track project.id) {
                <li>
                  <div class="cursor-pointer" (click)="onClickProject(project.id)">
                    <mat-card class="relative flex flex-col gap-4 pb-4">
                      <mat-card-header>
                        <mat-card-title>
                          {{ project.name }}
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        @let teamsMapCollection = this.teamsMapCollection();
                        <!-- Project team and dates -->
                        <div class="flex gap-2 items-center">
                          <p class="w-8 text-nowrap overflow-hidden mat-font-label-sm">
                            {{ teamsMapCollection.get(project.teamId) ?? 'none' | uppercase }}
                          </p>

                          <p>|</p>

                          <p class="mat-font-label-sm">
                            {{ project.deadline | date: 'MM/dd/yy' }}
                          </p>
                        </div>
                      </mat-card-content>

                      <!-- Project badges -->
                      <div class="absolute flex flex-col top-4 right-4 gap-1 items-end">
                        <!-- Project status -->
                        @let getProject = this.projectsStatus().get(project.id);
                        @let projectStatus = getProject && getProject();
                        <div
                          class="w-fit px-2 py-1 mat-corner-full"
                          [ngClass]="{
                            'bg-gray-200': projectStatus === 'not started' || !projectStatus,
                            'bg-amber-200': projectStatus === 'in progress',
                            'bg-green-200': projectStatus === 'completed',
                          }"
                        >
                          <p class="mat-font-label-sm">{{ projectStatus | titlecase }}</p>
                        </div>

                        <!-- Project deadline pressure -->
                        @let projectDeadlinePressure =
                          getProjectDeadlinePressure(project.startDate, project.deadline);
                        <div
                          class="px-2 py-1 mat-corner-full w-fit"
                          [ngClass]="{
                            'bg-gray-200': projectDeadlinePressure === 'unknown',
                            'bg-green-200': projectDeadlinePressure === 'healthy',
                            'bg-teal-200': projectDeadlinePressure === 'stable',
                            'bg-amber-200': projectDeadlinePressure === 'warning',
                            'bg-orange-200': projectDeadlinePressure === 'critical',
                            'bg-red-200': projectDeadlinePressure === 'overdue',
                          }"
                        >
                          <p class="mat-font-label-sm">{{ projectDeadlinePressure | titlecase }}</p>
                        </div>
                      </div>
                    </mat-card>
                  </div>
                </li>
              }
            </ul>
          }
        </div>
      </div>
    }
  }
}
