<section class="flex flex-col gap-4">
  <!-- Project description -->
  <div>
    <p class="line-clamp-3">
      @if (description(); as description) {
        {{ description }}
      } @else {
        No description
      }
    </p>
  </div>

  <!-- Contents -->
  <!-- Project details card -->
  <div class="grid grid-cols-2 gap-2 mat-bg-surface-container-low p-4 mat-corner-sm">
    <!-- Project Owner -->
    <p class="mat-font-label-sm">Project Owner</p>
    <p class="mat-font-label-sm">{{ projectOwnerFullName() }}</p>

    <!-- Start Date -->
    <p class="mat-font-label-sm">Start Date</p>
    <p class="mat-font-label-sm">
      @if (startDate(); as startDate) {
        {{ startDate | date }}
      } @else {
        No Data
      }
    </p>

    <!-- Deadline -->
    <p class="mat-font-label-sm">Deadline</p>
    <p class="mat-font-label-sm">
      @if (deadline(); as deadline) {
        {{ deadline | date }}
      } @else {
        No Data
      }
    </p>

    <!-- Progress -->
    <p class="mat-font-label-sm">Progress</p>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

    <!-- Velocity -->
    <p class="mat-font-label-sm">Velocity</p>
    <p class="mat-font-label-sm">5 tasks/week</p>

    <!-- Overdue -->
    <p class="mat-font-label-sm">Overdue</p>
    <p class="mat-font-label-sm">5 tasks</p>
  </div>
</section>
