<section class="flex flex-col gap-4">
  <div class="flex justify-between">
    <h2 class="mat-font-title-md">Task Overview</h2>
    <mat-icon fontIcon="expand_more"></mat-icon>
  </div>

  <!-- Contents -->
  <div class="flex flex-col gap-2">
    <!-- Task Description -->
    <div>
      @if (taskDescription(); as description) {
        <p>{{ description }}</p>
      } @else {
        <mat-spinner diameter="22"></mat-spinner>
      }
    </div>

    <!-- Task Dates -->
    <div class="flex flex-col gap-1">
      <!-- Start Date -->
      <div>
        <mat-chip><p class="mat-font-label-sm">Start Date: MM/DD/YYYY</p> </mat-chip>
      </div>

      <!-- Deadline -->
      <div>
        <mat-chip>
          @if (taskDeadline(); as deadline) {
            <p class="mat-font-label-sm">Deadline: {{ deadline | date }}</p>
          } @else {
            <mat-spinner diameter="22"></mat-spinner>
          }
        </mat-chip>
      </div>
    </div>

    <!-- Tags -->
    <div>
      <mat-chip><p class="mat-font-label-sm">Tag</p></mat-chip>
    </div>
  </div>
</section>
