@let description = taskDescription();
@let startDate = taskStartDate();
@let deadline = taskDeadline();

<section class="flex flex-col gap-8">
  <!-- Task Description -->
  <div>
    <p class="line-clamp-4 max-w-[90vw]">Description: {{ description }}</p>
  </div>

  <!-- Task Dates -->
  <div class="grid grid-cols-2 gap-2 mat-bg-surface-container-low p-4 mat-corner-sm">
    <!-- Start Date -->
    <p class="mat-font-label-sm">Start Date</p>
    <p class="mat-font-label-sm">
      @if (startDate) {
        {{ startDate | date }}
      } @else {
        None
      }
    </p>

    <!-- Deadline -->
    <p class="mat-font-label-sm">Deadline</p>
    <p class="mat-font-label-sm">
      @if (deadline) {
        {{ deadline | date }}
      } @else {
        None
      }
    </p>
  </div>
</section>
