@let state = taskState();
@let todos = todoTask();

@switch (state.status) {
  @case ('loading') {
    <div>
      <mat-spinner [diameter]="24"></mat-spinner>
    </div>
  }
  @case ('error') {
    <div>
      <p>Error: {{ state.error }}</p>
    </div>
  }
  @case ('success') {
    <div>
      @if (!todos || todos.length === 0) {
        <!-- No items with status: 'TODO' -->
        <p>No task available</p>
      } @else {
        @for (task of todos; track task.id) {
          <div (click)="onSelectTask(task.id)">
            <mat-card>
              <mat-card-content>
                <p>{{ task.name }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        }
      }
    </div>
  }
}
