@let reviewList = this.reviewList();

<section class="flex flex-col gap-4">
  <div class="flex justify-between">
    <h2 class="mat-font-title-md">Review list</h2>
    <mat-icon fontIcon="expand_more"></mat-icon>
  </div>

  <!-- Contents -->
  <div class="flex flex-col">
    @if (!reviewList || reviewList.length === 0) {
      <p>No reviews for this task yet.</p>
    }

    @for (review of reviewList; track $index) {
      <mat-card>
        <mat-card-content>
          <div class="flex gap-4 items-center">
            <p>
              Review <span>{{ $index + 1 }}</span>
            </p>

            @if (!review.closedDate) {
              <!-- Current tag -->
              <div class="bg-amber-200 px-2 py-1 w-fit mat-corner-full">
                <p class="mat-font-label-sm">Current</p>
              </div>
            }
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button matButton (click)="onViewReview(review.id)">View Review</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</section>
