@let reviewList = this.reviewList();
@let isMobile = this.isMobile();

<div class="flex flex-col gap-4">
  <!-- Review List -->
  <section class="flex flex-col gap-4">
    <div class="flex gap-2 items-center">
      @if (isMobile) {
        <button matIconButton (click)="onBack()">
          <mat-icon fontIcon="arrow_back"></mat-icon>
        </button>
      }
      <h2 class="mat-font-title-md">Reviews</h2>
    </div>

    <!-- Contents -->
    <div class="flex flex-col gap-4">
      @if (!reviewList || reviewList.length === 0) {
        <p>No reviews for this task yet.</p>
      }

      @for (review of reviewList; track review.id) {
        <mat-card>
          <mat-card-content>
            <div class="grid grid-cols-[1fr_auto] gap-4 items-center">
              <p class="truncate">
                {{ review.id }}
              </p>

              @if (!review.closedDate) {
                <!-- Current tag -->
                <div class="bg-amber-200 px-2 py-1 w-fit mat-corner-full">
                  <p class="mat-font-label-sm">Current</p>
                </div>
              }

              @if (review.closeStatus) {
                <!-- Review closed status tag -->
                <div
                  class="px-2 py-1 w-fit mat-corner-full"
                  [ngClass]="{
                    'bg-emerald-200': review.closeStatus === 'APPROVED',
                    'bg-red-200': review.closeStatus === 'REJECTED',
                  }"
                >
                  <p class="mat-font-label-sm">
                    {{ review.closeStatus | titlecase }}
                  </p>
                </div>
              }
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button matButton (click)="onViewReview(review.id)">View Review</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </section>
</div>
