@let currentReviewData = this.currentReviewData();

<section class="flex flex-col gap-8">
  <app-review-hero
    [closeStatus]="currentReviewData?.closeStatus ?? null"
    [submittedBy]="submittedBy()"
    [reviewer]="reviewer()"
    (backEvent)="onBack()"
  />
  <app-review-resource [proofUrls]="$safeNavigationMigration(currentReviewData?.proofUrls)" />

  @if (isMobile()) {
    <button matButton (click)="onShowDiscussion()">
      <mat-icon fontIcon="chat"></mat-icon>
      Show Discussion
    </button>
  }

  @if (!currentReviewData?.closedDate) {
    <div class="flex gap-2">
      <button matButton="filled" class="w-full" (click)="onJudgement('APPROVE')">
        <mat-icon fontIcon="check"></mat-icon>
        Approve
      </button>
      <button matButton class="mat-error-state w-full" (click)="onJudgement('REJECT')">
        <mat-icon fontIcon="close"></mat-icon>
        Reject
      </button>
    </div>
  }
</section>
