@let comments = this.comments();
@let userId = this.userId();

<section class="grid grid-rows-[auto_1fr_auto] gap-4 p-4 h-full">
  <div class="flex items-center gap-2 h-fit">
    <button matIconButton (click)="onBack()">
      <mat-icon fontIcon="arrow_back"></mat-icon>
    </button>
    <h2 class="mat-font-title-md">Discussion</h2>
  </div>

  <!-- Contents -->
  <div class="flex flex-col gap-4">
    @if (!comments || comments.length === 0) {
      <div class="flex items-center justify-center h-full w-full">
        <p class="mat-text-on-surface-variant">This discussion hasn't been started.</p>
      </div>
    } @else {
      <!-- Comments -->
      @for (comment of comments; track comment.id) {
        @if (comment.authorId === userId) {
          <div [id]="comment.id" class="flex gap-2 justify-end max-w-[60ch] self-end">
            <div class="flex flex-col gap-1">
              <p class="mat-font-label-sm mat-text-on-surface-variant text-end">You</p>
              <div class="mat-bg-primary-container p-4 mat-corner-sm">
                <p>{{ comment.content }}</p>
              </div>
              <!-- TODO: create a dedicated DTO for the field values -->
              <p class="mat-font-label-sm mat-text-on-surface-variant text-end">
                Sent on {{ comment.createdAt }}
              </p>
            </div>
          </div>
        } @else {
          <div [id]="comment.id" class="flex gap-2 max-w-[60ch]">
            @let commentAuthor = this.commentAuthors().get(comment.authorId);
            <div class="flex gap-2 items-center">
              <mat-icon fontIcon="account_circle"></mat-icon>
            </div>
            <div class="flex flex-col gap-1">
              @if (commentAuthor) {
                <p class="mat-font-label-sm mat-text-on-surface-variant">{{ commentAuthor }}</p>
              }
              <div class="mat-bg-surface-container-low p-4 mat-corner-sm">
                <p>{{ comment.content }}</p>
              </div>
              <p class="mat-font-label-sm mat-text-on-surface-variant">
                Sent on {{ comment.createdAt }}
              </p>
            </div>
          </div>
        }
      }
    }
  </div>

  <!-- Send comment  -->
  <div class="h-fit">
    @if (!closedDate()) {
      <form
        [formGroup]="commentForm"
        (ngSubmit)="addComment()"
        class="w-full grid grid-cols-[1fr_auto] place-items-center"
      >
        <mat-form-field class="w-full">
          <textarea matInput formControlName="commentContent"></textarea>

          @if (commentControl.hasError('required')) {
            <mat-error>Leave a comment to send</mat-error>
          }
        </mat-form-field>

        <button matButton type="submit" [disabled]="commentControl.invalid">Send</button>
      </form>
    }
  </div>
</section>
