@let isOwner = this.isOwner();

@if (isMobile()) {
  <app-mobile-shell>
    @if (routeProjectCategoryList()) {
      <app-project-task-category [isMobile]="true" primary />
    } @else {
      <app-project-details primary />
    }

    @if (isOwner) {
      <button matFab fab (click)="openAddTaskDialog()">
        <mat-icon>add</mat-icon>
      </button>
    }
  </app-mobile-shell>
} @else {
  <app-tablet-shell [withSecondary]="true">
    <app-project-details primary />
    <app-project-task-category secondary />

    @if (isOwner) {
      <!-- Add task fab buttons -->
      <button matFab fab (click)="openAddTaskDialog()">
        <mat-icon>add</mat-icon>
      </button>
    }

    @if (isOwner) {
      <button matFab fab-extended extended class="grow" (click)="openAddTaskDialog()">
        <mat-icon>add</mat-icon>
        Add Task
      </button>
    }
  </app-tablet-shell>
}
