@let state = taskState();
@let inProgress = inProgressTask();

@switch (state.status) {
  @case ('loading') {
    <div>
      <mat-spinner [diameter]="24"></mat-spinner>
    </div>
  }
  @case ('error') {
    <div>
      <p>Error: {{ state.error }}</p>
    </div>
  }
  @case ('success') {
    <div>
      @if (!inProgress || inProgress.length === 0) {
        <!-- No items with status: 'TODO' -->
        <p>No task available</p>
      } @else {
        @for (task of inProgress; track task.id) {
          <div>
            <p>{{ task.name }}</p>
          </div>
        }
      }
    </div>
  }
}

